.login_page{
    position: absolute;
    justify-content: center;
    align-items: center;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.584);
    display: grid;
    margin-top: 100px;
}
.login_from{
    /* padding-top: 0px; */
    height: auto;
    max-width: max(55vw,33px);
    place-self: center;
    color: #525050;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 7px;
    padding: 25px 30px;
    font-size: 14px;
    animation: fadeIn 0.5s ;
    border-radius: 20px;
}
.login_title{
    display: flex;
    color: black;
}

.login_title{
    justify-content: space-between;
}
.cross_icon{
    cursor: pointer;
}
.login_inputs{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 8px;
}
.login_inputs input{
    outline: none;
    border: solid 1px #c9c9c9;
    border-radius: 10px;
    padding: 8px;
    margin: 4px;
    font-size: 1.1rem;
    font-weight: 400;
}
.login_page button{
    border: none;
    padding: 7px;
    border-radius: 10px;
    color: white;
    background-color: rgba(246, 143, 46, 0.795);
    cursor: pointer;
    font-size: 1.2rem;
}
.login_page button:hover{
    background-color: rgb(249, 130, 11);
}
.condition{
    display: flex;
    align-items: start;
    gap: 8px;
    margin-top: -1px;
}
.login_from p span{
    padding-top: 2px;
    color: #fb840e;
    font-weight: 500;
    cursor: pointer;
}