.sidebar{
    width: 30%;
    min-height: 100vh;
    border: 1.5px solid rgb(93, 92, 92);
    border-top: 0;
    /* font-size: max(1vw,10px); */
}
.sidebar_options{
    padding-right: 5px;
    padding-left: 20%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.sidebar_option{
    display: flex;
    align-items: center;
    gap: 12px;
    border: 2px solid rgba(74, 73, 73, 0.842);
    border-right: 0;
    padding: 8px 1px;
    border-radius: 3px 0px 0px 3px;
    cursor: pointer;
    color: rgba(66, 65, 65, 0.708);
    text-decoration: none;
}
.sidebar_options a.active .sidebar_option {
  background-color: #f3b262; /* highlight active option */
  font-weight: bold;
  border-color: #b46404;
  color: #ef6f07;
}
.icon{
    font-size: 30px;
}

@media (max-width:1000px){
    .sidebar{
        width: 20%;
    }
    .sidebar_option p{
        display: none;
    }
}
