.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 0px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
.navbar-logo img{
    height: 40px;
    width: 150px;
}
.Snapby_logo {
    display: none;
}
.navbar_manue{
    list-style: none;
    display: flex;
    gap: 20px;
    color: #050505;
    margin: 10px;
}
li{
    list-style: none;
    text-decoration: none;
    &.active{
        padding-bottom: 2px;
        color: #f18219;
        text-decoration: underline;
    }
}
a{
    text-decoration: none;

    &:hover{
        color: #f18219;
        text-decoration: underline;
    }
}
.navbar_right{
    display: flex;
    align-items: center;
    gap: 15px;
}
.search_box{
    position: relative;
    background-color: #9a9b9c22;
    padding: 5px;
    border: #050505 1px solid;
    border-radius: 10px;
    display: flex;
}
.search{
    color: rgb(15, 15, 15);
    cursor: pointer;
    border: none;
    background: transparent;
    outline: none;
}
.signin_btn{
    cursor: pointer;
    border: #050505 2px solid;
    border-radius: 15px;
    padding: 5px 15px;
    margin: 5px ;
}
.basket{
    position: relative;
    cursor: pointer;
    padding: 5px 10px;
    margin: 5px ;
    font-size: 20px;
    
}
.basket .dot{
    position: absolute;
    width: 7px;
    height: 7px;
    top: 0;
    right: 0;
    background-color: rgb(255, 132, 0);
    border-radius: 5px;
    font-size: 35px;
    font-weight: bold;
    line-height: 0;
}

.signin_btn:hover{
    background-color: #f18219;
    color: rgb(6, 6, 6);
}
.manue_bar{
    width: 50px;
    height: 50px;
    font-size: 25px;
    display: none;
    cursor: pointer;
}
.profile_image{
    position: relative;
}
.profile_image img{
    width: 50px;
    cursor: pointer;

}
.nav-profile-drpodown{
    position: absolute;
    display: none;
    right: 0;
    z-index: 100;
}
.profile_image:hover .nav-profile-drpodown{
    display: flex;
    flex-direction: column;
    gap: 10px;
     background-color: #fff;
     padding: 12px 25px;
     border-radius: 4px;
     border: 2px solid tomato;
     outline: 2px solid white;
     list-style: none;
}
.nav-profile-drpodown li{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    font-weight: 500;
    font-size: 1.5rem;
    
}
.nav-profile-drpodown li:hover{
    color: #f18219;
}
.nav-profile-drpodown li p{
    font-size: 1rem;
    margin-top: 12px;
}
@media screen and (max-width: 1000px){
    
    .manue_items{
        display: none;  
    }
    .manue_bar{
        display: block;
    }

    .list_mobile{
        display: block;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background-color: #fff;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
        z-index: 1;
    }
    .navbar_manue{
        flex-direction: column;
        gap: 10px;
        padding: 10px 0;
      
    }
    .search_box{
        max-width: max(20vw,30px);
    }
    
}

@media  screen and (max-width: 600px){
    .navbar-logo img{
        display: none;
    }
     .navbar .Snapby_logo{
        display: block;
        width: 70px;
        height: 60px;

    }
    /* .signin_btn{
        display: none;
    } */
} 