.footer {
  color: rgb(248, 244, 244);
  background-color: black;
  display: flex;
  flex-direction: column;
  padding: 10px 15px;
  gap: 20px;
  margin-top: 50px;
}

.footer_content {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 50px;
}

.footer_content_left,
.footer_content_center,
.footer_content_right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.footer li {
  background-color: rgb(5, 5, 5);
  color: #fff;
  padding: 5px 0;
  list-style: none;
}
.social_icon .icon{
    font-size: 2.2rem;
    border: #fff 2px solid;
    border-radius: 50%;
    margin: 10px;
    padding: 3px;
    cursor: pointer;
}

.footer hr{
    width: 100%;
    height: 2.5px;
    margin: 20px 0;
    background-color: grey;
    border: none;
}

.footer .footer_copyright{
    width: 100%;
    height: auto;
    text-align: center;
    justify-content: space-around;
}
/* ===== Responsive Styles ===== */
@media screen and (max-width: 768px) {
  .footer_content {
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
}

@media screen and (max-width: 480px) {
  .footer_content {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .footer {
    padding: 20px 10px;
  }

  .footer_content_left,
  .footer_content_center,
  .footer_content_right {
    align-items: center;
    text-align: center;
  }

  .footer li {
    font-size: 0.9rem;
  }
}