.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4px;
}
.navbar .profile{
    width: 50px;
    height: 50px;
    object-fit: cover cover;
    border-radius: 50%;
}