.view_cart {
  width: 100%;
  background-color: rgba(244, 243, 240, 0.979);
  position: fixed;
  bottom: 0;
  z-index: 10;
  margin-bottom: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
}
.title{
    display: flex;
    flex-direction: column;
}
.price{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 2rem;
}
.title p{
    font-size: 1rem;
}
.view_cart button{
    background-color: rgb(239, 155, 60);
    padding: 7px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1rem;
    font-weight: 500;
}