*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;

}
a {
    text-decoration: none;
    color: inherit;
}

.nav_link{
    text-decoration: none;
    color: rgb(7, 7, 7);
}