.list_table_format{
    display: grid;
    grid-template-columns: 4fr 2fr 1fr 2fr 0.5fr;
    align-items: center;
    gap: 20px;
    padding: 12px 5px;
    border: 1px solid gray;
    font-size: 13px;

}
.list_table_format img{
    width: 80px;
    margin-top: 10px;
}
.title{
    background-color: rgba(218, 215, 215, 0.82);
}
.list_table_format .cross{
    font-size: 18px;
    cursor: pointer;
}

@media (max-width:700px) {
    .list_table_format{
        grid-template-columns: 1fr 3fr 1fr;
        gap: 15px;
    }
    .title{
        display: none;
    }
    
}